@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}


/* #root {
  min-height: 100%;
  overflow-y: auto;
} */

body {
  height: 100%;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* font-family: 'Merriweather', serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components{

  .select.noAppearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none; /* This is important to hide the background arrow */
    padding-right: 1rem; /* To add some spacing on the right side */
    border: none;
  }

  
   .eventparent{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap:30px;
    row-gap: 50px;
    
  }

  
  @media screen and (max-width: 1280px) {
    .eventparent{
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap:20px;      
      row-gap:40px;
    }
  }

  @media screen and (max-width: 300px) {
    .eventparent{
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));      
      row-gap:30px;
    }
  }
/*
  @media screen and (max-width: 1200px) {
    .eventparent{
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
      gap:5px;
      row-gap:30px;
    }
  }

  @media screen and (max-width: 610px) {
    .eventparent{
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      gap:40px;
      row-gap:40px;
    }
  }

  @media screen and (max-width: 395px) {
    .eventparent{      
      gap:30px;
      row-gap:20px;
    }
  }

  @media screen and (max-width: 295px) {
    .eventparent{      
      gap:0px;
      row-gap:0px;
    }
  } */
}


@layer base{
    /* clears the ‘X’  in search input field from Internet Explorer */
    input[type="search"]::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    input[type="search"]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    } 
    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }

    
    /* Chrome, Safari, Edge, Opera  hide arrow in input type number*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } 
    /* Firefox hide arrow in input type number */
    input[type=number] {
        -moz-appearance: textfield;
    }

    /*Style progress bar across different browsers*/
    /* firefox */
    progress[value] {
      -moz-appearance: none;
      appearance: none;    
      border: none;
    }
    progress.progressbar::-moz-progress-bar { 
      background-color: #37BCF7;
      border-radius: 5px;    
    }

    /* Chrome and safari */
    progress.progressbar::-webkit-progress-value { 
      background: #37BCF7;
      border-radius: 5px;
      border: 0;
    }
    progress.progressbar::-webkit-progress-bar { 
      background-color: #D8D8D8;    
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    /* IE10 / Edge */
    progress {
    color: #2CA9F2;
    background-color:#D8D8D8;
    }



    /* Style progress bar across different browsers */
    /* Firefox */
    progress[value] {
      -moz-appearance: none;
      appearance: none;
      border: none;
    }

    progress.landingpageprogressbar::-moz-progress-bar {
      background-color: #35FAA0; /* Update to greenish color */
      border-radius: 15px;
    }

    /* Chrome and Safari */
    progress.landingpageprogressbar::-webkit-progress-value {
      background: #35FAA0; /* Update to greenish color */
      border-radius: 15px;
      border: 0;
    }

    progress.landingpageprogressbar::-webkit-progress-bar {
      background-color: #D8D8D8;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    /* IE10 / Edge */
    progress.landingpageprogressbar {
      color: #35FAA0; /* Update to greenish color */
      background-color: #D8D8D8;
    }


    

}